body {
		margin: 0;
		padding: 0;
		background-color: black;
		/* position: relative; */
			 
}

#particles-js {
	/* background: url(/image/banner.jpg); */
	background-image: url(/image/banner.jpg);
	height: 500px;
	width: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

li {
	padding: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
	font-size: 18px;
}
			
.header {
	padding: 6px;
	margin-top: -5px;
 	text-align: center;
 	color: #f54a2c;
	font-size: 14px;
	/* position: relative; */
}
.moon {
	width: 30px;
	height: 30px;
	margin-top: -35px;
	margin-left: 510px;
	position: absolute;
	color: white;
}

.text-right {
		margin-top: -30px;
}

	.site_name {
		color: #f54a2c;
	}

	/* .footer {
		overflow: hidden;
		position: fixed;
		bottom: 0; 
		width: 100%; 
	  } */